.blue {
  color: blue;
}

.green {
  color: green;
}

.purple {
  color: purple;
}

:root {
  --content-max-width: 1200px !important;
}
main {
  margin: 150px !important;
}
/* blue machine
green compiler directive
purple macros */
