main {
  margin: 150px !important;
}

code, .hljs {
  color: white !important;
}

.blue {
  color: rgb(48, 95, 255);
}

.green {
  color: green;
}

.purple {
  color: #C678DD;
}

.comment {
  color: gray !important;
}

:root {
  --content-max-width: 1200px !important;
}


/* blue machine
green compiler directive
purple macros */
